<div class="date">{{formattedDate}}</div>
<h1 class="planning-title">Planning pour aujourd’hui</h1>
<section class="planning">
{{#each periods}}
    <div class="tasks">
        <h2 class="tasks-period">{{title}}</h2>
    {{#each tasks}}
        <div class="task" style="border-color:{{task.color}};">
            <img class="task-member" src="data:image/jpeg;charset=utf-8;base64,{{member.avatar}}" alt=""/>
            <div class="task-details">
                {{#if task.icon}}<img class="task-icon" src="data:image/jpeg;charset=utf-8;base64,{{task.icon}}" alt=""/>{{/if}}
                {{task.name}}
            </div>
        </div>
    {{/each}}
    </div>
{{/each}}
</section>
